.Logo{
    background-color: rgb(207, 124, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.informação{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Menu{
    display: flex;

}

.Violinos{
    background-color: rgb(160, 51, 0);
    width: 200px;
    height: 450px;
    font-size: 30px;
    gap: 15px;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Aba2{
    background-color: darkcyan;
    width: 250px;
    height: 450px;
    margin-top: 30px;
}
.Preços{
    font-size: 30px;
    gap: 15px;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}
.info{
    font-size: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.imagens{
    background-color: brown;
}
.Stradivarius{
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}
.case{
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}
.cordas{
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}